@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Services>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "Master.cshtml";
    
     var services = Umbraco.ContentAtRoot().DescendantsOrSelfOfType("services").FirstOrDefault();

    var serviceChildren = services.Children;
}

 
<section class="blog">
    <div class="ewds-container">
        <div class="page-header text-center">
            <h1 class="h1">@Model.Name</h1>
        </div>
        <div class="blog-grid-sidebar">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 col-lg-8">
                            <a class="mb-30" id="sidebar-opener" href="#"> <i class="icon_menu"></i>Open sidebar</a>
                            <div class="blog-default">
                                <div class="blog-default_group">
                                    <div class="row">

                                        @foreach (var service in serviceChildren.OrderByDescending(o => o.Value<DateTime>("serviceDate")))
                                        {

                                        

                                            <div class="col-12 col-sm-6">
                                                <div class="insight-regular">
                                                    <div class="insight-img">
                                                        <img src="@service.Value("ServiceImage")" alt="@service.Name">
                                                        <p class="date">@service.CreateDate.ToString("D")</p>
                                                    </div>
                                                    <div class="insight-content">
                                                        <a href="@service.Url()">@service.Value("ServiceLeadIn")</a>
                                                        <p class="author">by<span>@service.CreatorName</span></p>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
                                