@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using Umbraco.Core.PropertyEditors.ValueConverters;
@{ 
    var home = Model.AncestorOrSelf<Home>();
    var imageCropper = home.Value<ImageCropperValue>
               ("logoImage");
    var logo = imageCropper.Src + imageCropper.GetCropUrl("Default");


}

<div class="header-middle">
    <div class="ewds-container">
        <div class="row align-items-center">
            <div class="col-11 col-lg-3"><a class="logo" href="/"><img src="@logo" alt="@home.Value("logoAlt")"></a></div>
            <div class="col-1 col-lg-9">
                <div class="website-info">
                    <div class="info-block">
                        <div class="info-icon"><i class="fas fa-phone-alt"></i></div>
                        <div class="info-content">
                            <p class="light-title">Call us:</p>
                            <h6 class="main-title">@home.Value("callUs")</h6>
                        </div>
                    </div>
                    <div class="info-block">
                        <div class="info-icon"><i class="fas fa-map-marker-alt"></i></div>
                        <div class="info-content">
                            <p class="light-title">New Barangay Address:</p>
                            <h6 class="main-title">@home.Value("address")</h6>
                        </div>
                    </div>
                    <div class="info-block">
                        <div class="info-icon"><i class="far fa-clock"></i></div>
                        <div class="info-content">
                            <p class="light-title">Office Hours:</p>
                            <h6 class="main-title">@home.Value("officeHours")</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
